@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121213;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

body {
 height: 100%;
}

h1 {
  @apply text-3xl font-semibold uppercase;
  
}

.keyrow {
  @apply flex flex-row justify-start gap-1
}

@keyframes letterInput{
  from{
    scale:1
  }
  to{
    scale: 1.1;
  }
}

.toast {
  animation: fade-in 400ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shake {
  animation: shakeshake 0.35s;
}
@keyframes shakeshake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.stats {
  border: 1px solid #888888
}
